<!-- /**
 * @author SilverCore
 * @author SilverAuth
 * @author MisterPapaye
*/ -->


<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/assets/css/login?ext=css">
        <link rel="stylesheet" href="/assets/css/loader?ext=css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>Se connecter avec SilverAuth</title>

    </head>

    <body>
        

        <section class="container" style="display: flex; flex-direction: column;">

            <div class="title">
                <img src="https://api.silverdium.fr/img/auth/logo.png"><h1>SilverAuth</h1> 
            </div>

            <div class="cardForm" style="display: none;">

                <form id="conect">

                    <div class="connect">

                        <div class="inputsSpan">

                            <span>Se connecter à <%= organisationName %> avec Silverauthenticator</span>
                            <div class="inputs">

                                <!-- From Uiverse.io by mrhyddenn --> 
                                <div class="form__group field">
                                    <input type="email" id="mail" class="form__field" placeholder="Email" required="">
                                    <label for="name" class="form__label">Email</label>
                                </div>

                                <div class="form__group field">
                                    <input type="password" id="passwd" class="form__field" placeholder="Mot de passe" required="">
                                    <label for="name" class="form__label">Mot de passe</label>
                                </div>

                            </div>

                        </div>


                        <div class="btnnnn">

                            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                                <span><i class="bi bi-person"></i> Pas de compte ?</span>
                                <a href="/auth/register">inscription</a>
                            </div>

                            <button id="login" class="animated-button">
                                <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                                ></path>
                                </svg>
                                <span class="text">Connection </span>
                                <span class="circle"></span>
                                <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                                ></path>
                                </svg>
                            </button>

                        </div>


                    </div>

                </form>

            </div>


            <div class="part2" style="display: none;">


            </div>

            <div id="loader" style="margin-top: 3.5rem;">
 
                <div class="loader"></div>

            </div>


        </section>



    </body>



    <script type="module">

        import salert from 'https://corsproxy.io/https://api.silverdium.fr/salert/salert.js';

        const redirect = '<%= redirect %>';

        const mail = document.getElementById('mail');
        const passwd = document.getElementById('passwd');
        const form = document.querySelector('.cardForm');
        const loader = document.getElementById('loader');
        const btn = document.getElementById('login');

        loader.style.display = 'none';
        form.style.display= 'flex';

        function connect(mail, passwd) {

            setTimeout(() => {
                loader.style.display = 'flex';
                form.style.display= 'none';        
            }, 300);

            setTimeout( () => {

                fetch(`/auth/login`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ mail, passwd }),
                })
                .then(res => res.json())
                .then(resp => {

                    if (resp.data.error) {

                        if (resp.data.type === 405) {

                            loader.style.display = 'none';
                            form.style.display= 'flex';
                            salert('SilverAuth', 'Email ou mot de pass incorect !', 'warning');

                        } else {

                            salert('SilverAuth', 'Une erreur est survenue !', 'error');

                        }

                    }

                    else if (resp.statu === 'success') {

                        setTimeout(() => {

                            salert('SilverAuth', resp.data.message, 'success');
                            
                            setTimeout(() => {
                                
                                window.location.href = `/popup/redirect?url=${redirect}`;

                            }, 300);

                        }, 500);

                    }

                });

            }, 500);

        };




        btn.addEventListener('click', async (event) => {

            event.preventDefault();

            if (passwd.value == '' || mail.value == '') { salert('SilverAuth', `Il faut remplir tout les champs<br>non pas ceux du fermier.`); }
            else { connect(mail.value, passwd.value) };

        });

    </script>


</html>