<script src="/assets/js/panel_admin_apikey?ext=js" type="module" defer></script>

<div class="content-wrapper col-md-12 ml-0">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Gestion des Clés API - access admin</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Liste des Clés API</h3>
                            <div class="card-tools">

                                <button type="button" class="btn btn-success" id="addAPIKEYbtn">
                                    Ajouter une Clé API
                                </button>                              

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Organisation Name</th>
                                            <th>Clé API</th>
                                            <th>Créée Le</th>
                                            <th>Expire Le</th>
                                            <th>Limite Requête Quotidienne</th>
                                            <th>ID</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="apiKeyTableBody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal pour ajouter une clé API -->
    <div class="modal fade" id="addApiKeyModal" tabindex="-1" aria-labelledby="addApiKeyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addApiKeyModalLabel">Ajouter une Clé API</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addApiKeyForm">
                        <div class="mb-3">
                            <label for="apiKeyName" class="form-label">Nom de l'organisation</label>
                            <input type="text" class="form-control" id="apiKeyName" placeholder="Ex: Mon Organisation">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeApiKey" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="saveApiKey">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal de gestion des Clés API -->
    <div class="modal fade" id="manageApiKeyModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Gérer la Clé API</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="manageApiKeyForm">
                        <div class="form-group">
                            <label>Nom de l'organisation</label>
                            <input type="text" class="form-control" id="manageApiKeyName">
                        </div>
                        <div class="form-group">
                            <label>Clé API</label>
                            <input type="text" class="form-control" id="manageApiKey" readonly>
                        </div>
                        <div class="form-group">
                            <label>Domaines associés</label>
                            <div id="domainList"></div>
                            <button class="btn btn-success" type="button" id="addDomain">➕ Ajouter</button>
                        </div>
                        
                        <div class="form-group">
                            <label>Liens de redirection</label>
                            <div id="redirectList"></div>
                            <button class="btn btn-success" type="button" id="addRedirect">➕ Ajouter</button>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-danger" id="deleteBTN">Supprimer la clé</button>
                    <button type="button" class="btn btn-primary" id="updateApiKey">Sauvegarder</button>
                    <button type="button" class="btn btn-secondary" onclick="history.pushState(null, '', `/panel/admin/apikey`)" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
</div>



