<script src="/assets/js/users?ext=js" type="module" defer></script>


<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">Gestion de l'utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="history.pushState(null, '', `/panel/admin/users`)" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="manageUserForm">
                    <input type="hidden" id="userId"> <!-- Champ caché pour l'ID utilisateur -->

                    <div class="form-group">
                        <label for="username">Pseudo</label>
                        <input type="text" class="form-control" id="username" disabled>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" disabled>
                    </div>
                    <div class="form-group">
                        <label for="created_at">Date de création</label>
                        <input type="text" class="form-control" id="created_at" disabled>
                    </div>
                    <div class="form-group">
                        <label for="ip">Adresse IP</label>
                        <input type="text" class="form-control" id="ip" disabled>
                    </div>
                    <div class="form-group">
                        <label for="role">Grade</label>
                        <select class="form-control" id="role">
                            <option value="USER">Utilisateur</option>
                            <option value="MODO">Modérateur</option>
                            <option value="ADMIN">Administrateur</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password">Nouveau mot de passe</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="form-group">
                        <label for="note">Note</label>
                        <input type="text" class="form-control" id="note" min="0" max="10">
                    </div>
                    <div class="form-group">

                        <button type="button" class="btn btn-danger" id="banUser">Bannir</button>
                        <button type="button" class="btn btn-danger" id="delUser">Suprimer</button> 
                        <button type="submit" class="btn btn-success">Mettre à jour</button>
                        <button type="button" class="btn btn-secondary" onclick="history.pushState(null, '', `/panel/admin/users`)" data-dismiss="modal">Fermer</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<section class="content-wrapper mt-12 col-md-12 ml-0">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-users"></i> Liste des utilisateurs</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Pseudo</th>
                            <th>Email</th>
                            <th>Date de création</th>
                            <th>ip</th>
                            <th>Banis ?</th>
                            <th>Grade</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="adminTableBody">
                        <!-- Données insérées dynamiquement -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
