.sauth-login-button {
    border-radius: 20px;
    box-sizing: border-box;
    width: 16rem;
    border: 2px solid #747474;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 11px;
    gap: 5px;
    transition: all 0.2s;
  }
  
  .sauth-login-button img {
      width: 20px;
      height: auto;
  }
  
  .sauth-login-button:hover {
      background: rgb(190, 190, 190);
  }
  
  .sauth-login-button:active {
      transform: scale(0.95);
  }